:root {
  /* colores */
  --color-titulo: #c45b48;
  --color-fondo: #f3e9e0;
  --color-naranja-tenue: rgb(205 111 72);
}
@font-face {
  font-family: anna;
  src: url(fonts/anna-clara.ttf) format("truetype");
}
@font-face {
  font-family: maha;
  src: url(./fonts/Maharlika-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url(https://images7.alphacoders.com/307/thumb-1920-307095.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body > div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

h1 {
  display: inline-block;
  font-family: anna;
  color: #ff7700;
  line-height: 63px;
  font-size: 4.6rem;
  font-weight: 200;
  padding-left: 10px;
}
main {
  height: 700px;
}
h2 {
  font-family: maha;
  color: var(--color-titulo);
}
section {
  background-color: var(--color-fondo);
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
}
p,
h4,
figcaption {
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
}
.contenedor {
  margin-top: 10px;
}
.contenedor video {
  border-radius: 20px;
}
.fm-video {
  width: 100%;
}
.fm-video,
.video-js .vjs-control-bar {
  background-color: rgb(243 233 224);
  color: rgb(205 111 72);
}
.video-js .vjs-load-progress div {
  background-color: var(--color-fondo);
}
.video-js .vjs-play-progress {
  background-color: var(--color-titulo);
}
.vjs-big-play-centered .vjs-big-play-button {
  background: transparent;
  color: transparent;
  border: none;
}
.video-js .vjs-play-control .vjs-icon-placeholder:active {
  border: none;
}
.nosotros__list {
  margin-top: 10px;
}
.nosotros__list > li {
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
}

article {
  background: rgb(205 111 72);
  border-radius: 20px;
  padding: 10px;
  padding-top: 1px;
  margin-top: 20px;
}
img {
  border-radius: 20px;
  width: 210px;
  object-fit: cover;
}

.carrusel {
  background: #c45b48;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.carrusel__container {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  padding: 10px 0;
}
.carrusel__item {
  position: relative;
  scroll-snap-align: center;
  align-self: center;
  margin-right: 10px;
}
